<!doctype html>
<!--[if lt IE 7 ]> <html class="ie ie6" lang="<%= I18n.locale %>"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie ie7" lang="<%= I18n.locale %>"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie ie8" lang="<%= I18n.locale %>"> <![endif]-->
<!--[if IE 9 ]>    <html class="ie ie9" lang="<%= I18n.locale %>"> <![endif]-->
<!--[if gt IE 9]><!--><html lang="<%= I18n.locale %>"><!--<![endif]-->
  <head data-hook="inside_head">
    <%= render partial: 'spree/shared/head' %>
    <%= stylesheet_link_tag 'default.manifest.css' %>
    <%= javascript_include_tag 'default.manifest.js' %>
  </head>

  <body class="<%= body_class %>" id="<%= @body_id || 'default' %>" data-hook="body">
    <%= flash_messages %>
    <% if Rails.env.production? %>
     <script type="text/javascript">
       (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
       (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
       m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
       })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
       ga('create', 'UA-109461772-1', 'auto');
     </script>
     <!-- Facebook Pixel Code -->
     <script>
       !function(f,b,e,v,n,t,s)
       {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
       n.callMethod.apply(n,arguments):n.queue.push(arguments)};
       if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
       n.queue=[];t=b.createElement(e);t.async=!0;
       t.src=v;s=b.getElementsByTagName(e)[0];
       s.parentNode.insertBefore(t,s)}(window, document,'script',
       'https://connect.facebook.net/en_US/fbevents.js');
       fbq('init', '1444124858970656');
       fbq('track', 'PageView');
       fbq('track', 'ViewContent');
     </script>
     <noscript><img height="1" width="1" style="display:none"
       src="https://www.facebook.com/tr?id=1444124858970656&ev=PageView&noscript=1"
     /></noscript>
     <!-- End Facebook Pixel Code -->
    <% end %>
    <%= render partial: 'spree/shared/header' %>

    <div class="wrapper">
      <div class="row" data-hook>
        <%= breadcrumbs(@taxon) %>

        <%= render partial: 'spree/shared/sidebar' if content_for? :sidebar %>

        <div id="content" class="<%= !content_for?(:sidebar) ? "col-sm-12" : "col-md-9" %>" data-hook>
          <%= yield %>
        </div>

        <%= yield :templates %>
      </div>
    </div>
    <%= render partial: 'spree/shared/footer' %>
  </body>
</html>
